
@font-face {
    font-family: 'junction_regularregular';
    src: url('../fonts/junctionregular/Junction-webfont.eot');
    src: url('../fonts/junctionregular/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junctionregular/Junction-webfont.woff') format('woff'),
         url('../fonts/junctionregular/Junction-webfont.ttf') format('truetype'),
         url('../fonts/junctionregular/Junction-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1{
	font-weight: 700;
	font-size: 30px;
	padding-top: 0px;
	padding-bottom: 10px;
}

h2{
	font-weight: 700;
	font-size: 20px;
	padding-top: 0px;
	padding-bottom: 6px;
}

p{
	margin-bottom: 15px;
}

body{
	background-color: #C4E5FF;
	font-family: 'Open Sans';
}

#header{
	height:120px;
}

#main-container{
    -moz-box-shadow: 0px 0px 11px #7095B2;
    -webkit-box-shadow: 0px 0px 11px #7095B2;
    box-shadow: 0px 0px 11px #7095B2;
    background-color: #FFFFFF;
    color: #3D3D3D;
    padding-top: 10px;
}

#main-navigation {
	background-color: #FF9232;
	display: block;
	height: 60px;
	width: 960px;
	margin-left: -10px;
	margin-bottom: 20px;

}

#main-navigation ul{
	padding-left: 30px;
	font-weight: 700;
}


#main-navigation ul li{
	float:left;
	margin-right: 15px;
	margin-top: 18px;
	color: #00518C;
}

#main-navigation ul li:hover{
	color: #FFFFFF;
}

.blue{
	color: #00518C;
}

#fragment-2{
	
}